name: Release
on:
  workflow_call:

env:
  DOCKER_BUILDKIT: 1

jobs:
  matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
    steps:
    - name: Setup
      run: echo ./utils/setup.sh
    - name: Generate matrix
      id: generate
      run: echo ${{ inputs.project_name }}.yml
    - run: env
    - run: set
    - run: echo $GITHUB_ENV
    - run: echo $GITHUB_ENV

  jobs:
    needs: matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      #concurrency: 2
      matrix:
        project:
          - siag
          - ocs
          - traefik1
    name: ${{ matrix.project }} Project
    steps:
      - run: hostname || true
